html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title Containers
  body
    include navbar.pug
    div(class='container-fluid')
      h1 Containers
      table(class='table table-condensed fields')
        tr
          th
          th Name
          th Created At
          th Post Url
          th Css Url
          th Metadata
        each c in containers || []
          tr
            td
              a(class='btn btn-default preview', data-id=c._id) View
            td=c.name
            td=moment(c.createdAt).fromNow()
            td=c.postUrl
            td=c.cssUrl
            td=c.metadata.name

      div(class='modal fade container-preview',tabindex='-1',role='dialog')
        div(class='modal-dialog', role='document')
          div(class='modal-content')
            div(class='modal-header')
              button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4(class='modal-title', id='myModalLabel') Container Preview
            div(class='modal-body') 
              div(class='form-group')
                label Select Metadata to Preview
                select(class='form-control metadata',  placeholder='Select Metadata')
                  each m in metadata
                    option(value=m._id)=m.name
              div(class='form-group')
                div(class='input-group input-group-sm')
                  input(type='text', id='url', class='form-control url', readonly)
                  div(class='input-group-btn')
                    button(type='button', class='btn btn-primary copy', aria-label='Copy', data-clipboard-target='#url', data-toggle='tooltip', data-placement='bottom' title='Copy to clipboard')
                      span(class='glyphicon glyphicon-copy', aria-hidden='true')                  
              iframe
            div(class='modal-footer')
              button(class='btn btn-default done') Done            

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/clipboard.min.js')
    script(src='/js/container-list.js')