html
  head
    title='Container'
    link(href=cssUrl rel='stylesheet')    
  body
    form(method='post' action=postUrl)
      input(type='hidden', value=metadata._id, name='metadata_id')
      input(type='hidden', value=metadata.name, name='metadata_name')
      input(type='hidden', value=metadataUi._id, name='metadata_ui_id')
      each field in metadataUi.fields
        div
          label=field.label
          input(type='text', name=field.name)
      div
        input(type='submit', value='Submit')
    
    script(src='/js/jquery.min.js')
    script(src='/js/form.js')
