html
  head
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/bootstrap.min.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    title Payment methods
  body
    include navbar.pug
    div(class='container-fluid')
      h3 Payment methods
      table(class='table table-condensed fields')
        tr
          th
          th Name
          th Id
          th Created
        each m in metadata || []
          tr
            td
              button(class='btn btn-default preview', type='button', data-id=m._id)
                span(class='glyphicon glyphicon-search', aria-hidden='true')
              a(href=("/metadata/" + m._id))
                button(class='btn btn-default edit', type='button', data-id=m._id)
                  span(class='glyphicon glyphicon-edit', aria-hidden='true')
              button(class='btn btn-default delete', type='button', data-id=m._id)
                span(class='glyphicon glyphicon-trash', aria-hidden='true')
            td=m.config.display_name
            td=m._id
            td=moment(m.createdAt).fromNow()
            td=(m.fields || []).map(f=>f.name).join(', ')

    div(class='modal fade metadata-preview',tabindex='-1',role='dialog')
      div(class='modal-dialog modal-lg', role='document')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button', class='close', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title', id='myModalLabel') Metadata Preview
          div(class='modal-body') 
            div(class='form-group')
              div(class='input-group input-group-sm')
              textarea(class='form-control module_name', rows="20", placeholder='{}')
          div(class='modal-footer')
            button(class='btn btn-default done') Done            

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/clipboard.min.js')
    script(src='/js/metadata.js')